<header>
    <div>
        <nav class="menu">
            <ul>
                {% set menu_items = config.extra.navbar_items -%}
                {% for item in menu_items -%}
                {% if item.url == "/" %}
                <li class="nav-item-home">
                    <a href="{{ config.base_url ~ item.url }}"
                    {%if item.url == current_path %} aria-current="page" {% endif %}>{{ item.name }}
                    </a>
                </li>
                {%- elif item.url is ending_with("_index.md") -%}
                {%- set s = get_section(path=item.url) -%}
                <li><a href="{{s.permalink}}" {% if s.path == current_path %} aria-current="page" {% endif %}>{{s.title}} &#9660;
                    <ul class="dropdown">
                    {%- for page in s.pages -%}
                    <li><a class="bg-black" href="{{page.permalink}}"  {% if page.path == current_path %} aria-current="page" {% endif %}>{{page.title}}</a></li>
                    {%- endfor -%}
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ config.base_url ~ item.url }}"
                    {%if item.url == current_path %} aria-current="page" {% endif %}>{{ item.name }}
                    </a>
                </li>
                {%- endif-%}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>