<table class="program">
    <tr>
        <th></th>
        <th>Room XXX</th>
        <th>Room YYY</th>
        <th>Room ZZZ</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session3"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td class="session2"><strong>Alessandro Piccolo</strong><br>Forward to the Past.Reflections on Interest Rates in Pharaonic Egypt and the Modern World</td>
        <td class="session3"><strong>Eleonora Mariani, Francesca Cavaliere</strong><br>Walking the Kassites: The ‘Aqar Qūf Survey and the Functional Organization of a Late Bronze Age Capital City</td>
        <td> </td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td class="session2"><strong>Andrea Rebecca Marrocchi Savoi</strong><br>Debt as Social Currency: the case of Nippur during Ur III</td>
        <td class="session3"><strong>Daisy Brunt</strong><br>Creating Imperial Landscapes: Shifting Settlement Patterns and Agricultural Management Strategies in the Middle Assyrian Tal’Afar (1400 – 1000 BCE)</td>
        <td class="session4"><strong>Alessia Savelli</strong><br>The Ubaid Cemetery of Eridu: insights into newly excavated graves in the 2022-2023 campaigns</td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td class="session2"><strong>Matthieu Hagenmuller (R)</strong><br>URethinking Egyptian Power Structures: Economic Domination, Hegemony and Manpower Control</td>
        <td class="session3"><strong>Gabriele Giacosa</strong><br>After the Storm: Assessing Reoccupation in the Assyrian Heartland after 612 BCE</td>
        <td class="session4"><strong>Sara Quaggio (R)</strong><br>Technological Shifts in Maritime Communities: From Shell to Copper Fishhooks in South Ash-Sharqiyyah Region (Oman)</td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>11:30-13:00</td>
        <td colspan=3 class="event-long">Poster Session</td>
    </tr>
    <tr>
        <td>13:00-14:30</td>
        <td colspan="3" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session3"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>14:30-15:00</td>
        <td class="session2"><strong>Hossam Hegazi (R)</strong><br>A Case Study: The Impact of Environmental Changes on Survival Strategies and Social Development in Ebla during the 3rd Millennium BCE</td>
        <td class="session3"><strong>Enrico Foietta, Jacopo Bruno</strong><br>Exploring the Emergence and Evolution of the Parthian Iwan</td>
        <td class="session4"><strong>Michael Campeggi</strong><br>From Ovens to Pots. Cooking and Consumption Patterns between the Late Neolithic and the Chalcolithic in the Eastern Tigris Region</td>
    </tr>
    <tr>
        <td>15:00-15:30</td>
        <td class="session2"><strong>Megan Hinks</strong><br>Reevaluating the Role of Bitumen in Mesopotamian Economic Systems: a Comparative Review of the Textual and Scientific Evidence</td>
        <td class="session3"><strong>Zohreh Zehbari, Nasrollah Ebrahimi, Mehrdad Parsae</strong><br>Archaeological Landscapes at Dehqaed, Southern Iran</td>
        <td class="session4"><strong>Claire Padovani</strong><br>Pyro-structures and Socialisation Processes in Monumental Buildings between the 4th and the 3rd Millennium BCE</td>
    </tr>
    <tr>
        <td>15:30-16:00</td>
        <td class="session2"><strong>Rita Simon (R)</strong><br>Procurement of Libyan Desert Glass for Tutankhamon's Revitalising Pectoral?</td>
        <td class="session3"><strong>Sarvenaz Parsa</strong><br>Evolution of Sacred Landscapes: Case Study of Chahartaq Monuments in Ancient Persia</td>
        <td class="session4"><strong>Michael Lewis, Steve Renette, André Tomé</strong><br>Ongoing excavations of the Early Bronze Age Strata at Kani Shaie, Iraqi Kurdistan (2023 – 2024)</td>
    </tr>
    <tr>
        <td>16:00-16:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session4"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>16:30-17:00</td>
        <td class="session2"><strong>Tatiana Valente (R)</strong><br>The Dynamics behind Ritual Economies: an Artefactual Approach to a Southeast Arabian Iron Age Case-Study</td>
        <td class="session4"><strong>Soheil Salamat</strong><br>Dalma in Detail: A Techno-Social Characterization of Dalma Pottery in NW Iran</td>
        <td class="session4"><strong>Saikat Mukherjee</strong><br>‘My Vulva is the Vulva of a Bitch! His Penis is the Penis of a Dog’: Representation of Women in nīš libbi Therapies</td>
    </tr>
    <tr>
        <td>17:00-17:30</td>
        <td class="session2"><strong>Carlos Fernández Rodríguez (R)</strong><br>The Impact of Gulf Trade in the Iron Age as viewed from the Oman Peninsula</td>
        <td class="session4"><strong>Saeed Baghizadeh (R)</strong><br>Cultural Interactions and Pottery Evolution on the Tehran Plain: Navigating Uruk and Proto-Elamite Identities during the Late Chalcolithic Period</td>
        <td class="session4"><strong>Viktoria Lanz</strong><br>Representations of Mesopotamian Incense Burners on Cylinder Seals and Reliefs and some Original Objects</td>
    </tr>
    <tr>
        <td>17:30-18:00</td>
        <td class="session2"><strong>Andy Hogan (R)</strong><br>New Theoretical Approaches in Economic Cultural Evolutionary Theory: A New Understanding of the Implementation and Mutation of Ptolemaic Fiscal Institutions</td>
        <td> </td>
        <td class="session4"><strong>Ylenia Pia Viggiano</strong><br>Moulding Kassite Identity: Preliminary Observations on New Moulded bricks from ‘Aqar Qūf</td>
    </tr>
</table>