<table class="program">
    <tr>
        <th></th>
        <th>Room XXX</th>
        <th>Room YYY</th>
        <th>Room ZZZ</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session1"> </td>
        <td class="session3"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td class="session1"><strong>Luca Forti</strong><br>Geoarchaeological and Palaeoenvironmental Reconstruction of the Holocene Climate-environment-human Interactions in the Kurdistan Region of Iraq
        </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td class="session1"><strong>Francesco Venturoso</strong><br>Lithic Industries and Socio-economic Dynamics in Northern Mesopotamia: Technological and Archaeometric Insights from the Late Chalcolithic</td>
        <td class="session3"><strong>Nicola Lanzaro</strong><br>The Early Bronze Age Occupation in the Madaba Region of Jordan: Landscape Approaches to Archaeological Data</td>
        <td class="session4"><strong>Giulia Magnani</strong><br>Distribution of Miniature Pottery in the Memphite area during  the Old Kingdom: New Evidence from the Sun Temple of Nyuserra at Abu Ghurab (Egypt)</td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td class="session1"><strong>Francesca Chelazzi, Claudia Glatz, Georgia Kasapidou, Hoshyar Hassan</strong><br>Unraveling the Environmental History of the Western Zagros Piedmont at the Time of Early States</td>
        <td class="session3"><strong>Cristiana Liberati, Lorenzo Indino</strong><br>How the Climate Change influenced the Subsistence Strategies in the Ancient Kingdom of Ugarit during the Late Bronze Age (1550-1190 B.C.)</td>
        <td class="session4"><strong>Veronika Verešová</strong><br>Silver Assemblages in 2nd Millennium Egypt and their Owners</td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session1"> </td>
        <td class="session3"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>11:30-12:00</td>
        <td class="session1"><strong>Alper Aslan</strong><br>Long-term Population Dynamics and Human-environment Interactions from the Chalcolithic to the Iron Age in Eastern Anatolian Highlands, Türkiye</td>
        <td class="session3"><strong>Francesco Ignazio De Magistris</strong><br>Logistical Network and Foreign Policy: Analysing the Egyptian conquest of the Levant during the 18th Dynasty</td>
        <td class="session4"><strong>Klaudia Kornas</strong><br>The Iconography of Akhenaten and His Family as a Manifestation of a New Visual Identity</td>
    </tr>
    <tr>
        <td>12:00-12:30</td>
        <td class="session1"><strong>Rosa Crocco</strong><br>Cultural Transformations and Ceramic Production: Petrographic Insights from Late Chalcolithic to Early Bronze Age at Zeytinli Bahçe Höyük</td>
        <td class="session3"><strong>Margherita Carletti</strong><br>The Iron Age City Planning Sequence at Tell Afis. Looking for Social Change</td>
        <td class="session4"><strong>Natasha Ayers</strong><br>Complex Identities and Community Memberships in Second Intermediate Period and early New Kingdom Egypt</td>
    </tr>
    <tr>
        <td>12:30-13:00</td>
        <td class="session1"><strong>Giulia Adelaide Grandi</strong><br>Red Slip Ware: a Chrono-stratigraphic Approach to Middle Bronze Age Pottery (2000-1600 BC)</td>
        <td class="session3"><strong>Andrea Cesaretti</strong><br>The Control over the Lake and Mountains. A Reconstruction of Settlement pattern of the Lake Sevan basin during the Middle Bronze Age</td>
        <td class="session4"><strong>Lucia Hulková</strong><br>Burial Customs of Wadi Tumilat at the End of the Second Intermediate Period – a Regional Perspective on the End of an Era</td>
    </tr>
    <tr>
        <td>13:00-14:30</td>
        <td colspan="3" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session1"> </td>
        <td class="session3">Agnese Vacca</td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>14:30-15:00</td>
        <td class="session1"><strong>Ileana De Giuseppe (R)</strong><br>Behind Closed Doors: Domestic Spaces and Cultural Identity in the Seleucid Empire</td>
        <td class="session3"><strong>Francesc Xavier Garcia-Ramis, Biel Soriano-Elias (R)</strong><br>Settlement Pattern of the Ninevite 5 Culture (3000-2500 BCE) from Northern Mesopotamia: GIS and Multivariate Statistics Applied to the Study of the Historical Landscape</td>
        <td class="session4"><strong>Ludovica Galli</strong><br>Identities Carved in Stone. Sarcophagi as Means of Social Crafting and Personal identification in Late Period Egypt</td>
    </tr>
    <tr>
        <td>15:00-15:30</td>
        <td class="session1"><strong>Daniele Bursich</strong><br>The Urban Sanctuary of Selinus: the New Organization of the Sacred Space post 408 BC. through the Analysis of the Streets</td>
        <td class="session3"><strong>Charlotte Damiano</strong><br>Defining the First Cities: Rethinking Urban Identity in Early Mesopotamian Societies</td>
        <td class="session4"><strong>Nenad Markovic</strong><br>Understanding the Power of Ancestral Heritage: Temple Dynasties in Memphis and Letopolis during the First Persian Period (c. 526–404 BCE)</td>
    </tr>
    <tr>
        <td>15:30-16:00</td>
        <td> </td>
        <td class="session3"><strong>Lisa Doro, Elena Carletti</strong><br>New Prehistoric Evidence in the Zagros. Preliminary Results of an Intensive Survey in the Foothills of the Kurdistan Region of Iraq</td>
        <td class="session4"><strong>Louise O'Brien (R)</strong><br>Portraits of Identity: The Hawara Mummy Portraits as Evidence for Elite Multiculturalism in Roman Egypt</td>
    </tr>
    <tr>
        <td>16:00-16:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session3">Agnese Vacca</td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>16:30-17:00</td>
        <td class="session2"><strong>Karolina Joka, Lara Gonzalez Carretero, Robert Carter, Dorian Q Fuller, David Wengrow</strong><br>Storage Story: Investigating Food Surplus and Agricultural Methods in Late Ubaid Gurga Chiya (Iraqi Kurdistan)</td>
        <td class="session3"><strong>Elena De Rosa</strong><br>Public Space and (Proto)-urban Planning: Exploring Alleys, Streets and Squares in the 4th Millennium B.C.</td>
        <td class="session4"><strong>Beyzanur Kargı</strong><br>Dark-Faced Wares from a Halaf Settlement in Turkish Eastern Mediterranean: Domuztepe Case</td>
    </tr>
    <tr>
        <td>17:00-17:30</td>
        <td class="session2"><strong>Oliver Hense (R)</strong><br>Reconstructing Modes of Pottery Production and Acquisition at a Middle Assyrian dunnu: The case of Muqable</td>
        <td class="session3"><strong>Marta Doglio (R)</strong><br>Proto-urban Trajectories in Northern Mesopotamia. Gird-i Matrab in the Erbil Plain (Kurdistan Region of Iraq)</td>
        <td class="session4"><strong>Elisa Biancifiori</strong><br>BUILDING SOCIAL IDENTITY. Settlement organization and architecture in Eastern Anatolia during the Ubaid and Post-Ubaid Periods</td>
    </tr>
    <tr>
        <td>17:30-18:00</td>
        <td class="session2"><strong>Motoharu Arimura</strong><br>Reconsidering the Production and Distribution of "Black Lustrous Wheel-made Ware" based on Finds from the Nile Valley</td>
        <td> </td>
        <td class="session4"><strong>Claudia Sabbini</strong><br>Pinning Identity on Pins? Exploring Standardization to Investigate Social Perception</td>
    </tr>
</table>