<table class="program">
    <tr>
        <th></th>
        <th>Room XXX</th>
        <th>Room YYY</th>
        <th>Room ZZZ</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session4"> </td>
        <td class="session5"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td class="session4"><strong>Domizia Paolucci</strong><br><a href="/program/abstracts/domizia-paolucci">The Fourth Millenium BC among the Southern Levant, the Negev, and the Sinai Peninsula: Conversation between Groups and Traditions</a></td>
        <td class="session5"><strong>Marco Roversi</strong><br><a href="/program/abstracts/marco-roversi">Ethical Considerations in Italian Archaeological Research in the MENA Region. Ensuring Integrity in Cultural Heritage Investigations in Sensitive Areas</a></td>
        <td class="session4"><strong>Claudia D'Orazio</strong><br><a href="/program/abstracts/claudia-dorazio">Evidence for Popular Art at Karkemish and in the Early Iron Age Levant</a></td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td class="session4"><strong>Carolina Cioffi</strong><br><a href="/program/abstracts/carolina-cioffi">Tradition and Innovation in Ancient Jordan: Ceramic Horizons and Technical Know-how from the Formation to the Crisis of Early Urban Communities</a></td>
        <td class="session5"><strong>Giulio Vignati</strong><br><a href="/program/abstracts/giulio-vignati">Ancient Near Eastern Collections in Lombardy Museums: a Survey</a></td>
        <td class="session4"><strong>Caterina Fantoni</strong><br><a href="/program/abstracts/caterina-fantoni">Living in the Lower Town: a study of a Middle Iron Age room at Niğde-Kınık Höyük</a></td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td class="session4"><strong>Bianca Eugenia Bert</strong><br><a href="/program/abstracts/bianca-eugenia-bert">Painted Wares between Middle and Late Bronze Age: What can the Continuity of Material Culture Tell us about Identity?</a></td>
        <td class="session5"><strong>Sharon Sabatini</strong><br><a href="/program/abstracts/sharon-sabatini">“The mummy of Ramses. The Immortal Pharaoh” a Multisensory Experience at the Museum of Near East, Egypt and Mediterranean of Sapienza University of Rome</a></td>
        <td class="session4"><strong>Selin Gür</strong><br><a href="/program/abstracts/selin-gur">The Power of Language in Identity Formation</a></td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session4"> </td>
        <td class="session5"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>11:30-12:00</td>
        <td class="session4"><strong>Cecilia Ripamonti</strong><br><a href="/program/abstracts/cecilia-ripamonti">Material Culture and Crafting Social Identity: Exploring Funerary Practices and Cross-cultural Interactions in the Middle Bronze Age Levant</a></td>
        <td class="session5"><strong>Yasaman Nabati-Mazloumi</strong><br><a href="/program/abstracts/yasaman-nabati-mazloumi">Engaging Children in Understanding the Local Heritage: A Preliminary Report of the Second Fieldwork in Sirwan Valley, Iraqi Kurdistan</a></td>
        <td class="session4"><strong>Laith Alshboul</strong><br><a href="/program/abstracts/laith-alshboul">Reassessment of the Iron Age Chronology: Insights from the Northern Jordanian Plateau</a></td>
    </tr>
    <tr>
        <td>12:00-12:30</td>
        <td class="session4"><strong>Cécile Bigot</strong><br><a href="/program/abstracts/cecile-bigot">All the same in the Netherworld? A Case-study for Assessing Identity and Social Markers in Diyala and Middle Tigris Burials</a></td>
        <td class="session5"><strong>Kayssa Mavrides Sales</strong><br><a href="/program/abstracts/kayssa-mavrides-sales">Pedagogical Approaches in Archaeology and Heritage Education From the Ancient Near East: a Freirean Perspective</a></td>
        <td class="session4"><strong>Laura Zanazzo</strong><br><a href="/program/abstracts/laura-zanazzo">Another piece of the Puzzle: the Iron Age Pottery from Mishrifeh in the Regional Ceramic Horizon of Central-Western Syria</a></td>
    </tr>
    <tr>
        <td>12:30-13:00</td>
        <td class="session4"><strong>José Pablo Sánchez Muñoz</strong><br><a href="/program/abstracts/jose-pablo-sanchez-munoz">The Falcon (buru4mušen) in the Great Ritual and the Archives of the Palace G of Ebla: an Emblem of Eblaite Royalty from the 24th Century BC</a></td>
        <td class="session5"><strong>Yasaman Nabati Mazloumi, Chang Tahrir, Francesca Simi</strong><br><a href="/program/abstracts/yasaman-nabati-mazloumi-chang-tahrir-francesca-simi">“Braided Engagement” a New Concept to Community Participation in Archaeology and Heritage Practices.</a></td>
        <td class="session4"><strong>Eleonora Maria Lucia Franco</strong><br><a href="/program/abstracts/eleonora-maria-lucia-franco">Late Iron Age and Hellenistic Pottery from Aliawa and Gird-I Matrab (Iraqi Kurdistan): Cultural Markers between Continuity and Change</a></td>
    </tr>
    <tr>
        <td>13:00-13:30</td>
        <td class="session4"><strong>Andrea Discepoli</strong><br><a href="/program/abstracts/andrea-discepoli">Kings, Priests and Ancestors: The Shaping and Celebration of Middle Bronze Age Northern Levantine Elites Through Visual Media as Seen from Tell Mardikh/Ebla</a></td>
        <td> </td>
        <td class="session4"><strong>Onofrio Gasparro, Roberto Dan, Artur Petrosyan</strong><br><a href="/program/abstracts/onofrio-gasparro-roberto-dan-artur-petrosyan">A Heritage Crafted in Stone. Reconceptualizing Local Identities through the Katchkars of Jrarat, Kotayk Region, Armenia</a></td>
    </tr>
    <tr>
        <td>13:30-15:00</td>
        <td colspan="3" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>15:00-18:30</td>
        <td colspan="3" style="padding: 7rem;">Plenary Event</td>
    </tr>
    <tr>
        <td>18:30-22:00</td>
        <td colspan="3" class="event-short"><p>Final Reception</p></td>
    </tr>
</table>