<table class="program">
    <tr>
        <th></th>
        <th>Room XXX</th>
        <th>Room YYY</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session5"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td class="session5"><strong>Mona Akmal Mohamed Ahmed</strong><br><a href="/program/abstracts/mona-akmal-mohamed-ahmed">From Low Visibility to High Risk: Climate Change and the Future of Prehistoric Heritage</a></td>
        <td class="session4"><strong>Michela Floriani</strong><br><a href="/program/abstracts/michela-floriani">Cultural Interactions in the Eastern Mediterranean: the case of Minonaizing frescoes</a></td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td class="session5"><strong>Ilda Faiella</strong><br><a href="/program/abstracts/ilda-faiella">Assessing Local Involvement in Archaeological Sites: a Comparative Study of Türkiye and Jordan</a></td>
        <td class="session4"><strong>Mara McNiff</strong><br><a href="/program/abstracts/mara-mcniff">Sicily's Missing Link: Reassessing Prestige Goods and Early Iron Trade Networks in the Central Mediterranean</a></td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td class="session5"><strong>Paula Gómez Sanz (R)</strong><br><a href="/program/abstracts/paula-gomez-sanz">Reflections on some Aspects of the Emirati, Omani and Saudi Codes of Laws concerning their National Heritage and its Sustainability</a></td>
        <td class="session4"><strong>Nina Ferrante, Patricia Rosell Garrido</strong><br><a href="/program/abstracts/nina-ferrante">Crafting Identities Through Textiles: the Iberian Culture Between Local and Near-Eastern Traditions</a></td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="2">Coffee Break</td>
    </tr>
    <tr>
        <td>11:30-13:00</td>
        <td colspan="2" class="event-long">Closing Session</td>
    </tr>
</table>