<table class="program">
    <tr>
        <th></th>
        <th>Room 106</th>
        <th>Room 107</th>
        <th>Room 109</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td>Mohammed Alkhalid</td>
        <td>Tatiana Pedrazzi</td>
        <td>Davide Nadali</td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td id="paolucci" class="session4"><span>Domizia Paolucci</span><br><a href="/program/abstracts/domizia-paolucci">The Fourth Millenium BC among the Southern Levant, the Negev, and the Sinai Peninsula: Conversation between Groups and Traditions</a></td>
        <td id="nabati-mazloumi" class="session5"><span>Yasaman Nabati-Mazloumi</span><br><a href="/program/abstracts/yasaman-nabati-mazloumi">Engaging Children in Understanding the Local Heritage: A Preliminary Report of the Second Fieldwork in Sirwan Valley, Iraqi Kurdistan</a></td>
        <td id="d-orazio" class="session4"><span>Claudia D'Orazio</span><br><a href="/program/abstracts/claudia-dorazio">Evidence for Popular Art at Karkemish and in the Early Iron Age Levant</a></td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td id="cioffi" class="session4"><span>Carolina Cioffi</span><br><a href="/program/abstracts/carolina-cioffi">Tradition and Innovation in Ancient Jordan: Ceramic Horizons and Technical Know-how from the Formation to the Crisis of Early Urban Communities</a></td>
        <td id="mousavi" class="session5"><span>Hamta Mousavi</span><br><a href="/program/abstracts/hamta-mousavi">Studies in the Architecture of Sasanian Zoroastrian Fire Temples and their Relationship to the Astrological Concepts of Chronocratoria and Melothesia</a></td>
        <td id="fantoni" class="session4"><span>Caterina Fantoni</span><br><a href="/program/abstracts/caterina-fantoni">Living in the Lower Town: a study of a Middle Iron Age room at Niğde-Kınık Höyük</a></td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td id="berti" class="session4"><span>Bianca Eugenia Berti (R)</span><br><a href="/program/abstracts/bianca-eugenia-berti">Painted Wares between Middle and Late Bronze Age: What can the Continuity of Material Culture Tell us about Identity?</a></td>
        <td id="nabati-mazloumi-2" class="session5"><span>Yasaman Nabati Mazloumi, Chang Farhan Tahir, Francesca Simi</span><br><a href="/program/abstracts/yasaman-nabati-mazloumi-etal">“Braided Engagement” a New Concept to Community Participation in Archaeology and Heritage Practices.</a></td>
        <td id="gur" class="session4"><span>Selin Gür</span><br><a href="/program/abstracts/selin-gur">The Power of Language in Identity Formation</a></td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td>Agnese Vacca</td>
        <td>Francesca Simi</td>
        <td>Jacopo Bruno</td>
    </tr>
    <tr>
        <td>11:30-12:00</td>
        <td id="sabbini" class="session4"><span>Claudia Sabbini</span><br><a href="/program/abstracts/claudia-sabbini">Pinning Identity on Pins? Exploring Standardization to Investigate Social Perception</a></td>
        <td id="roversi" class="session5"><span>Marco Roversi</span><br><a href="/program/abstracts/marco-roversi">Ethical Considerations in Italian Archaeological Research in the MENA Region. Ensuring Integrity in Cultural Heritage Investigations in Sensitive Areas</a></td>
        <td id="alshboul" class="session4"><span>Laith Alshboul</span><br><a href="/program/abstracts/laith-alshboul">Reassessment of the Iron Age Chronology: Insights from the Northern Jordanian Plateau</a></td>
    </tr>
    <tr>
        <td>12:00-12:30</td>
        <td id="biancifiori" class="session4"><span>Elisa Biancifiori</span><br><a href="/program/abstracts/elisa-biancifiori">Building Social Identity. Settlement organization and architecture in Eastern Anatolia during the Ubaid and Post-Ubaid Periods</a></td>
        <td id="vignati" class="session5"><span>Giulio Vignati</span><br><a href="/program/abstracts/giulio-vignati">Ancient Near Eastern Collections in Lombardy Museums: a Survey</a></td>
        <td id="zanazzo" class="session4"><span>Laura Zanazzo</span><br><a href="/program/abstracts/laura-zanazzo">Another piece of the Puzzle: the Iron Age Pottery from Mishrifeh in the Regional Ceramic Horizon of Central-Western Syria</a></td>
    </tr>
    <tr>
        <td>12:30-13:00</td>
        <td id="salamat" class="session4"><span>Soheil Salamat</span><br><a href="/program/abstracts/soheil-salamat">Dalma in Detail: A Techno-Social Characterization of Dalma Pottery in NW Iran</a></td>
        <td id="sabatini" class="session5"><span>Sharon Sabatini</span><br><a href="/program/abstracts/sharon-sabatini">“The mummy of Ramses. The Immortal Pharaoh” a Multisensory Experience at the Museum of Near East, Egypt and Mediterranean of Sapienza University of Rome</a></td>
        <td id="franco" class="session4"><span>Eleonora Maria Lucia Franco</span><br><a href="/program/abstracts/eleonora-maria-lucia-franco">Late Iron Age and Hellenistic Pottery from Aliawa and Gird-I Matrab (Iraqi Kurdistan): Cultural Markers between Continuity and Change</a></td>
    </tr>
    <tr>
        <td>13:00-13:30</td>
        <td id="baghizadeh" class="session4"><span>Saeed Baghizadeh (R)</span><br><a href="/program/abstracts/saeed-baghizadeh">Cultural Interactions and Pottery Evolution on the Tehran Plain: Navigating Uruk and Proto-Elamite Identities during the Late Chalcolithic Period</a></td>
        <td id="mavrides-sales" class="session5"><span>Kayssa Mavrides Sales</span><br><a href="/program/abstracts/kayssa-mavrides-sales">Pedagogical Approaches in Archaeology and Heritage Education From the Ancient Near East: a Freirean Perspective</a></td>
        <td id="gasparro" class="session4"><span>Onofrio Gasparro, Roberto Dan, Artur Petrosyan</span><br><a href="/program/abstracts/onofrio-gasparro">A Heritage Crafted in Stone. Reconceptualizing Local Identities through the Katchkars of Jrarat, Kotayk Region, Armenia</a></td>
    </tr>
    <tr>
        <td>13:30-15:00</td>
        <td colspan="3" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>15:00-15:45</td>
        <td colspan="3"><i>Plenary Event (Room 107</i>)
        <p>On behalf of our partners at UnaQuantum <br>
        <span>Dr. Emanuel Demetrescu, Antonio Maria Fini</span> <br>
        <i>(Title TBA)</i>
        </p>
        </td>
    </tr>
    <tr>
        <td>15:45-16:30</td>
        <td colspan="3"><i>Plenary Event (Room 107</i>)
        <p>On behalf of our partners at ISMEO <br>
        <span>Prof. Adriano Valerio Rossi</span> <br>
        <i>Western Asia in pre-Classical and Classical Times: the ISMEO Perspective</i>
        </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3" class="event-short"></td>
    </tr>
    <tr>
        <td>18:00-20:00</td>
        <td colspan="3" class="event-short"><p>Final Reception <br> (RUFA Space, Rome University of Fine Arts, Via degli Ausoni, 7, 00185 Roma RM)</p></td>
    </tr>
    <tr>
        <td>20:00-22:00</td>
        <td colspan="3" class="event-short"><p>Informal Gathering <br> (RUFA Space, Rome University of Fine Arts, Via degli Ausoni, 7, 00185 Roma RM)</p></td>
    </tr>
</table>