<table class="program">
    <tr>
        <th></th>
        <th>Room 106</th>
        <th>Room 107</th>
        <th>Room 109</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session1"> TBA </td>
        <td class="session3"> TBA </td>
        <td class="session4"> TBA </td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td id="forti" class="session1"><span>Luca Forti</span><br><a href="/program/abstracts/luca-forti">Geoarchaeological and Palaeoenvironmental Reconstruction of the Holocene Climate-environment-human Interactions in the Kurdistan Region of Iraq</a>
        </td>
        <td> </td>
        <td id="magnani" class="session4"><span>Giulia Magnani</span><br><a href="/program/abstracts/giulia-magnani">Distribution of Miniature Pottery in the Memphite area during  the Old Kingdom: New Evidence from the Sun Temple of Nyuserra at Abu Ghurab (Egypt)</a></td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td id="venturoso" class="session1"><span>Francesco Venturoso</span><br><a href="/program/abstracts/francesco-venturoso">Lithic Industries and Socio-economic Dynamics in Northern Mesopotamia: Technological and Archaeometric Insights from the Late Chalcolithic</a></td>
        <td id="lanzaro" class="session3"><span>Nicola Lanzaro</span><br><a href="/program/abstracts/nicola-lanzaro">The Early Bronze Age Occupation in the Madaba Region of Jordan: Landscape Approaches to Archaeological Data</a></td>
        <td id="veresova" class="session4"><span>Veronika Verešová</span><br><a href="/program/abstracts/veronika-veresova">Silver Assemblages in 2nd Millennium Egypt and their Owners</a></td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td id="chelazzi" class="session1"><span>Francesca Chelazzi, Claudia Glatz, Georgia Kasapidou, Hoshyar Hassan</span><br><a href="/program/abstracts/francesca-chelazzi">Unraveling the Environmental History of the Western Zagros Piedmont at the Time of Early States</a></td>
        <td id="liberati" class="session3"><span>Cristiana Liberati, Lorenzo Indino</span><br><a href="/program/abstracts/cristiana-liberati">How the Climate Change influenced the Subsistence Strategies in the Ancient Kingdom of Ugarit during the Late Bronze Age (1550-1190 B.C.)</a></td><td id="kornas" class="session4"><span>Klaudia Kornas</span><br><a href="/program/abstracts/klaudia-kornas">The Iconography of Akhenaten and His Family as a Manifestation of a New Visual Identity</a></td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session1"> TBA </td>
        <td class="session3"> TBA </td>
        <td class="session4"> TBA </td>
    </tr>
    <tr>
        <td>11:30-12:00</td>
        <td id="aslan" class="session1"><span>Alper Aslan</span><br><a href="/program/abstracts/alper-aslan">Long-term Population Dynamics and Human-environment Interactions from the Chalcolithic to the Iron Age in Eastern Anatolian Highlands, Türkiye</a></td>
        <td id="de-magistris" class="session3"><span>Francesco Ignazio De Magistris</span><br><a href="/program/abstracts/francesco-ignazio-de-magistris">Logistical Network and Foreign Policy: Analysing the Egyptian conquest of the Levant during the 18th Dynasty</a></td>
        <td id="ayers" class="session4"><span>Natasha Ayers</span><br><a href="/program/abstracts/natasha-ayers">Complex Identities and Community Memberships in Second Intermediate Period and early New Kingdom Egypt</a></td>
    </tr>
    <tr>
        <td>12:00-12:30</td>
        <td id="crocco" class="session1"><span>Rosa Crocco</span><br><a href="/program/abstracts/rosa-crocco">Cultural Transformations and Ceramic Production: Petrographic Insights from Late Chalcolithic to Early Bronze Age at Zeytinli Bahçe Höyük</a></td>
        <td id="carletti" class="session3"><span>Margherita Carletti</span><br><a href="/program/abstracts/margherita-carletti">The Iron Age City Planning Sequence at Tell Afis. Looking for Social Change</a></td>
        <td id="galli" class="session4"><span>Ludovica Galli</span><br><a href="/program/abstracts/ludovica-galli">Identities Carved in Stone. Sarcophagi as Means of Social Crafting and Personal identification in Late Period Egypt</a></td>
    </tr>
    <tr>
        <td>12:30-13:00</td>
        <td id="grandi" class="session1"><span>Giulia Adelaide Grandi</span><br><a href="/program/abstracts/giulia-adelaide-grandi">Red Slip Ware: a Chrono-stratigraphic Approach to Middle Bronze Age Pottery (2000-1600 BC)</a></td>
        <td id="cesaretti" class="session3"><span>Andrea Cesaretti</span><br><a href="/program/abstracts/andrea-cesaretti">The Control over the Lake and Mountains. A Reconstruction of Settlement pattern of the Lake Sevan basin during the Middle Bronze Age</a></td>
        <td id="obrien" class="session4"><span>Louise O'Brien (R)</span><br><a href="/program/abstracts/louise-obrien">Portraits of Identity: The Hawara Mummy Portraits as Evidence for Elite Multiculturalism in Roman Egypt</a></td>
        {# <td id="hulkova" class="session4"><span>Lucia Hulková</span><br><a href="/program/abstracts/lucia-hulkova">Burial Customs of Wadi Tumilat at the End of the Second Intermediate Period – a Regional Perspective on the End of an Era</a></td> #}
    </tr>
    <tr>
        <td>13:00-14:30</td>
        <td colspan="3" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session1"> TBA </td>
        <td class="session3"> TBA </td>
        <td class="session4"> TBA </td>
    </tr>
    <tr>
        <td>14:30-15:00</td>
        <td id="de-giuseppe" class="session1"><span>Ileana De Giuseppe (R)</span><br><a href="/program/abstracts/ileana-de-giuseppe">Behind Closed Doors: Domestic Spaces and Cultural Identity in the Seleucid Empire</a></td>
        <td id="garcia" class="session3"><span>Francesc Xavier Garcia-Ramis, Biel Soriano-Elias (R)</span><br><a href="/program/abstracts/francesc-xavier-garcia-ramis">Settlement Pattern of the Ninevite 5 Culture (3000-2500 BCE) from Northern Mesopotamia: GIS and Multivariate Statistics Applied to the Study of the Historical Landscape</a></td>
    </tr>
    <tr>
        <td>15:00-15:30</td>
        <td id="bursich" class="session1"><span>Daniele Bursich</span><br><a href="/program/abstracts/daniele-bursich">The Urban Sanctuary of Selinus: the New Organization of the Sacred Space post 408 BC. through the Analysis of the Streets</a></td>
        <td id="damiano" class="session3"><span>Charlotte Damiano</span><br><a href="/program/abstracts/charlotte-damiano">Defining the First Cities: Rethinking Urban Identity in Early Mesopotamian Societies</a></td><td id="ripamonti" class="session4"><span>Cecilia Ripamonti</span><br><a href="/program/abstracts/cecilia-ripamonti">Material Culture and Crafting Social Identity: Exploring Funerary Practices and Cross-cultural Interactions in the Middle Bronze Age Levant</a></td>
        {# <td id="markovic" class="session4"><span>Nenad Markovic</span><br><a href="/program/abstracts/nenad-markovic">Understanding the Power of Ancestral Heritage: Temple Dynasties in Memphis and Letopolis during the First Persian Period (c. 526–404 BCE)</a></td> #}
    </tr>
    <tr>
        <td>15:30-16:00</td>
        <td> </td>
        <td id="doro" class="session3"><span>Lisa Doro, Elena Carletti</span><br><a href="/program/abstracts/lisa-doro">New Prehistoric Evidence in the Zagros. Preliminary Results of an Intensive Survey in the Foothills of the Kurdistan Region of Iraq</a></td><td id="bigot" class="session4"><span>Cécile Bigot</span><br><a href="/program/abstracts/cecile-bigot">All the same in the Netherworld? A Case-study for Assessing Identity and Social Markers in Diyala and Middle Tigris Burials</a></td>
    </tr>
    <tr>
        <td>16:00-16:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> TBA </td>
        <td class="session3"> TBA</td>
        <td class="session4"> TBA </td>
    </tr>
    <tr>
        <td>16:30-17:00</td>
        <td id="hagenmuller" class="session2"><span>Matthieu Hagenmuller (R)</span><br><a href="/program/abstracts/matthieu-hagenmuller">Rethinking Egyptian Power Structures: Economic Domination, Hegemony and Manpower Control</a></td>
        {# <td id="joka" class="session2"><span>Karolina Joka, Lara Gonzalez Carretero, Robert Carter, Dorian Q Fuller, David Wengrow</span><br><a href="/program/abstracts/karolina-joka">Storage Story: Investigating Food Surplus and Agricultural Methods in Late Ubaid Gurga Chiya (Iraqi Kurdistan)</a></td> #}
        <td id="de-rosa" class="session3"><span>Elena De Rosa</span><br><a href="/program/abstracts/elena-de-rosa">Public Space and (Proto)-urban Planning: Exploring Alleys, Streets and Squares in the 4th Millennium B.C.</a></td>
        <td id="sanchez-munoz" class="session4"><span>José Pablo Sánchez Muñoz</span><br><a href="/program/abstracts/jose-pablo-sanchez-munoz">The Falcon (buru4mušen) in the Great Ritual and the Archives of the Palace G of Ebla: an Emblem of Eblaite Royalty from the 24th Century BC</a></td>
        {# <td id="kargi" class="session4"><span>Beyzanur Kargı</span><br><a href="/program/abstracts/beyzanur-kargi">Dark-Faced Wares from a Halaf Settlement in Turkish Eastern Mediterranean: Domuztepe Case</a></td> #}
    </tr>
    <tr>
        <td>17:00-17:30</td>
        <td id="hense" class="session2"><span>Oliver Hense (R)</span><br><a href="/program/abstracts/oliver-hense">Reconstructing Modes of Pottery Production and Acquisition at a Middle Assyrian dunnu: The case of Muqable</a></td>
        <td id="doglio" class="session3"><span>Marta Doglio (R)</span><br><a href="/program/abstracts/marta-doglio">Proto-urban Trajectories in Northern Mesopotamia. Gird-i Matrab in the Erbil Plain (Kurdistan Region of Iraq)</a></td>
        <td id="discepoli" class="session4"><span>Andrea Discepoli</span><br><a href="/program/abstracts/andrea-discepoli">Kings, Priests and Ancestors: The Shaping and Celebration of Middle Bronze Age Northern Levantine Elites Through Visual Media as Seen from Tell Mardikh/Ebla</a></td>
        <td> </td>
        {# <td id="biancifiori" class="session4"><span>Elisa Biancifiori</span><br><a href="/program/abstracts/elisa-biancifiori">BUILDING SOCIAL IDENTITY. Settlement organization and architecture in Eastern Anatolia during the Ubaid and Post-Ubaid Periods</a></td> #}
    </tr>
    <tr>
        <td>17:30-18:00</td>
        <td id="arimura" class="session2"><span>Motoharu Arimura</span><br><a href="/program/abstracts/motoharu-arimura">Reconsidering the Production and Distribution of "Black Lustrous Wheel-made Ware" based on Finds from the Nile Valley</a></td>
        <td> </td>
        <td> </td>
        {# <td id="sabbini" class="session4"><span>Claudia Sabbini</span><br><a href="/program/abstracts/claudia-sabbini">Pinning Identity on Pins? Exploring Standardization to Investigate Social Perception</a></td> #}
    </tr>
</table>