<table class="program">
    <tr>
        <th> <br></th>
        <th> <br></th>
    </tr>
    <tr>
        <td>9:00-9:30</td>
        <td colspan="2">Registration</td>
    </tr>
    <tr>
        <td>9:30-11:00</td>
        <td>Conference Opening <br> Opening Remarks by the Organizing Committee <br> Welcome addresses</td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="2">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td> Prof. Dr </td>
    </tr>
        <td>11:30-12:15</td>
        <td id="frangipane" class="session1"><i>Key Note Session 1</i><br><strong>Prof. Marcella Frangipane</strong><br><a href="/program/abstracts/marcella-frangipane">Archaeology as a ‘Global’ Science. Overcoming Disciplinary Boundaries in the Era of Hyper Specialisation for a Comprehensive Reconstruction of Past Societies</a></td>
    </tr>
    <tr>
        <td>12:15-13:00</td>
        <td id="mynarova" class="session2"><i>Key Note Session 2</i><br><strong>Prof. Jana Mynářová</strong><br><a href="/program/abstracts/jana-mynarova">Gifts of Power: Economy and Diplomacy in Ancient Near Eastern Texts</a></td>
    </tr>
    <tr>
        <td>13:00-14:30</td>
        <td colspan="4" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td> Prof. Dr </td>
    </tr>
    <tr>
        <td>14:30-15:15</td>
        <td id="hopper" class="session3"><i>Key Note Session 3</i><br><strong>Prof. Kristen Hopper (R)</strong><br><a href="/program/abstracts/kristen-hopper">Landscapes studies in SW Asia: Interpreting the Past and Thinking to the Future</a></td>
    </tr>
    <tr>
        <td>15:15-16:00</td>
        <td id="bader" class="session4"><i>Key Note Session 4</i><br><strong>Dr. Bettina Bader</strong><br><a href="/program/abstracts/bettina-bader">Multiple Choice(s): Material Culture and Expressions of Identity</a></td>
    </tr>
    <tr>
        <td>16:00-16:45</td>
        <td id="zaina" class="session5"><i>Key Note Session 5</i><br><strong>Dr. Federico Zaina</strong><br><a href="/program/abstracts/federico-zaina">Cultural Heritage and the Anthropocene. A Multistakeholder Challenge for Documenting, Protecting and Communicating our Past</a></td>
    </tr>
    <tr>
        <td>17:30-20:00</td>
        <td colspan="2" class="event-long">Opening Reception</td>
    </tr>
</table>