<table class="program">
    <tr>
        <th></th>
        <th>Room XXX</th>
        <th>Room YYY</th>
        <th>Room ZZZ</th>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session3"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>9:30-10:00</td>
        <td id="piccolo" class="session2"><strong>Alessandro Piccolo</strong><br><a href="/program/abstracts/alessandro-piccolo">Forward to the Past.Reflections on Interest Rates in Pharaonic Egypt and the Modern World</a></td>
        <td id="mariani" class="session3"><strong>Eleonora Mariani, Francesca Cavaliere</strong><br><a href="/program/abstracts/eleonora-mariani">Walking the Kassites: The ‘Aqar Qūf Survey and the Functional Organization of a Late Bronze Age Capital City</a></td>
        <td> </td>
    </tr>
    <tr>
        <td>10:00-10:30</td>
        <td id="marrocchi-savoi" class="session2"><strong>Andrea Rebecca Marrocchi Savoi</strong><br><a href="/program/abstracts/andrea-rebecca-marrocchi-savoi">Debt as Social Currency: the case of Nippur during Ur III</a></td>
        <td id="brunt" class="session3"><strong>Daisy Brunt</strong><br><a href="/program/abstracts/daisy-brunt">Creating Imperial Landscapes: Shifting Settlement Patterns and Agricultural Management Strategies in the Middle Assyrian Tal'Afar (1400 – 1000 BCE)</a></td>
        <td id="savelli" class="session4"><strong>Alessia Savelli</strong><br><a href="/program/abstracts/alessia-savelli">The Ubaid Cemetery of Eridu: insights into newly excavated graves in the 2022-2023 campaigns</a></td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td id="hagenmuller" class="session2"><strong>Matthieu Hagenmuller (R)</strong><br><a href="/program/abstracts/matthieu-hagenmuller">Rethinking Egyptian Power Structures: Economic Domination, Hegemony and Manpower Control</a></td>
        <td id="giacosa" class="session3"><strong>Gabriele Giacosa</strong><br><a href="/program/abstracts/gabriele-giacosa">After the Storm: Assessing Reoccupation in the Assyrian Heartland after 612 BCE</a></td>
        <td id="quaggio" class="session4"><strong>Sara Quaggio (R)</strong><br><a href="/program/abstracts/sara-quaggio">Technological Shifts in Maritime Communities: From Shell to Copper Fishhooks in South Ash-Sharqiyyah Region (Oman)</a></td>
    </tr>
    <tr>
        <td>11:00-11:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>11:30-13:00</td>
        <td colspan=3 class="event-long">Poster Session</td>
    </tr>
    <tr>
        <td>13:00-14:30</td>
        <td colspan="3" class="event-short">Lunch Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session3"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>14:30-15:00</td>
        <td id="hegazi" class="session2"><strong>Hossam Hegazi (R)</strong><br><a href="/program/abstracts/hossam-hegazi">A Case Study: The Impact of Environmental Changes on Survival Strategies and Social Development in Ebla during the 3rd Millennium BCE</a></td>
        <td id="foietta" class="session3"><strong>Enrico Foietta, Jacopo Bruno</strong><br><a href="/program/abstracts/enrico-foietta">Exploring the Emergence and Evolution of the Parthian Iwan</a></td>
        <td id="campeggi" class="session4"><strong>Michael Campeggi</strong><br>From Ovens to Pots. Cooking and Consumption Patterns between the Late Neolithic and the Chalcolithic in the Eastern Tigris Region</td>
    </tr>
    <tr>
        <td>15:00-15:30</td>
        <td id="hinks" class="session2"><strong>Megan Hinks</strong><br><a href="/program/abstracts/megan-hinks">Reevaluating the Role of Bitumen in Mesopotamian Economic Systems: a Comparative Review of the Textual and Scientific Evidence</a></td>
        <td id="zehbari" class="session3"><strong>Zohreh Zehbari, Nasrollah Ebrahimi, Mehrdad Parsae</strong><br><a href="/program/abstracts/zohreh-zehbari">Archaeological Landscapes at Dehqaed, Southern Iran</a></td>
        <td id="padovani" class="session4"><strong>Claire Padovani</strong><br><a href="/program/abstracts/claire-padovani">Pyro-structures and Socialisation Processes in Monumental Buildings between the 4th and the 3rd Millennium BCE</a></td>
    </tr>
    <tr>
        <td>15:30-16:00</td>
        <td id="simon" class="session2"><strong>Rita Simon (R)</strong><br><a href="/program/abstracts/rita-simon">Procurement of Libyan Desert Glass for Tutankhamon's Revitalising Pectoral?</a></td>
        <td id="parsa" class="session3"><strong>Sarvenaz Parsa</strong><br><a href="/program/abstracts/sarvenaz-parsa">Evolution of Sacred Landscapes: Case Study of Chahartaq Monuments in Ancient Persia</a></td>
        <td id="lewis" class="session4"><strong>Michael Lewis, Steve Renette, André Tomé</strong><br><a href="/program/abstracts/michael-lewis">Ongoing excavations of the Early Bronze Age Strata at Kani Shaie, Iraqi Kurdistan (2023 – 2024)</a></td>
    </tr>
    <tr>
        <td>16:00-16:30</td>
        <td colspan="3">Coffee Break</td>
    </tr>
    <tr>
        <td>Chair</td>
        <td class="session2"> </td>
        <td class="session4"> </td>
        <td class="session4"> </td>
    </tr>
    <tr>
        <td>16:30-17:00</td>
        <td id="valente" class="session2"><strong>Tatiana Valente (R)</strong><br><a href="/program/abstracts/tatiana-valente">The Dynamics behind Ritual Economies: an Artefactual Approach to a Southeast Arabian Iron Age Case-Study</a></td>
        <td id="salamat" class="session4"><strong>Soheil Salamat</strong><br><a href="/program/abstracts/soheil-salamat">Dalma in Detail: A Techno-Social Characterization of Dalma Pottery in NW Iran</a></td>
        <td id="mukherjee" class="session4"><strong>Saikat Mukherjee</strong><br><a href="/program/abstracts/saikat-mukherjee">‘My Vulva is the Vulva of a Bitch! His Penis is the Penis of a Dog’: Representation of Women in nīš libbi Therapies</a></td>
    </tr>
    <tr>
        <td>17:00-17:30</td>
        <td id="fernandez-rodriguez" class="session2"><strong>Carlos Fernández Rodríguez (R)</strong><br><a href="/program/abstracts/carlos-fernandez-rodriguez">The Impact of Gulf Trade in the Iron Age as viewed from the Oman Peninsula</a></td>
        <td id="baghizadeh" class="session4"><strong>Saeed Baghizadeh (R)</strong><br><a href="/program/abstracts/saeed-baghizadeh">Cultural Interactions and Pottery Evolution on the Tehran Plain: Navigating Uruk and Proto-Elamite Identities during the Late Chalcolithic Period</a></td>
        <td id="lanz" class="session4"><strong>Viktoria Lanz</strong><br><a href="/program/abstracts/viktoria-lanz">Representations of Mesopotamian Incense Burners on Cylinder Seals and Reliefs and some Original Objects</a></td>
    </tr>
    <tr>
        <td>17:30-18:00</td>
        <td id="hogan" class="session2"><strong>Andy Hogan (R)</strong><br><a href="/program/abstracts/andy-hogan">New Theoretical Approaches in Economic Cultural Evolutionary Theory: A New Understanding of the Implementation and Mutation of Ptolemaic Fiscal Institutions</a></td>
        <td> </td>
        <td id="viggiano" class="session4"><strong>Ylenia Pia Viggiano</strong><br><a href="/program/abstracts/ylenia-pia-viggiano">Moulding Kassite Identity: Preliminary Observations on New Moulded bricks from ‘Aqar Qūf</a></td>
    </tr>
</table>