<div class="tabs">
    <input type="radio" class="tabs-radio" name="day-tabs" id="day1" checked>
    <label for="day1" class="tabs-label">Monday 10-02-2025</label>
    <div class="tabs-content">
        {% include "partials/program-day1.html" %}
    </div>
    <input type="radio" class="tabs-radio" name="day-tabs" id="day2">
    <label for="day2" class="tabs-label">Tuesday 11-02-2025</label>
    <div class="tabs-content">
        {% include "partials/program-day2.html" %}
    </div>
    <input type="radio" class="tabs-radio" name="day-tabs" id="day3">
    <label for="day3" class="tabs-label">Wednesday 12-02-2025</label>
    <div class="tabs-content">
        {% include "partials/program-day3.html" %}
    </div>
    <input type="radio" class="tabs-radio" name="day-tabs" id="day4">
    <label for="day4" class="tabs-label">Wednesday 13-02-2025</label>
    <div class="tabs-content">
        {% include "partials/program-day4.html" %}
    </div>
    <input type="radio" class="tabs-radio" name="day-tabs" id="day5">
    <label for="day5" class="tabs-label">Wednesday 14-02-2025</label>
    <div class="tabs-content">
        {% include "partials/program-day5.html" %}
    </div>
</div>


