{% import "macros/social.html" as macros %}
{% import "macros/social_header.html" as macros_header %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body>
  <a href="#skip" class="visually-hidden">Skip to main content</a>
  {% block header %}
  {% include "partials/header.html" %}
  {% endblock %}
  <main id="skip" class="section">
    {% block content %} {% endblock %}
  </main>
  {% block footer %}
  {% include "partials/footer.html" %}
  {% endblock %}
  {% block scripts %}
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %}
</body>

</html>