{% extends "base.html" %}

{% block content %}
<h1>
  {{ section.title }}
</h1>

<div class="postlist">
    {% for page in section.pages %}
        <article class="post-item">
          <div>
            <p class="post-date">{{page.date}}</p>
             <h1 class="post-title"><a href="{{ page.path | safe }}">{{ page.title }}</a></h1>
              <div class="post-summary">
                  {{ page.content | striptags | truncate(length=150) | safe }}
              </div>
              <div class="read-more">
                  <a href="{{ page.path }}">Read more...</a>
              </div>
          </div>
        </article>
    {% endfor %}
    {% set subsections = section.subsections -%}
    {% for subsection_path in subsections -%}
    {% set subsection = get_section(path=subsection_path) -%}
        <article class="post-item">
          <div>
             <h1 class="post-title"><a href="{{ subsection.path | safe }}">{{ subsection.title }}</a></h1>
              <div class="post-summary">
                  {{ subsection.content | striptags | truncate(length=150) | safe }}
              </div>
              <div class="read-more">
                  <a href="{{ subsection.path }}">Read more...</a>
              </div>
          </div>
        </article>
    {% endfor %}
</div>
{% endblock content %}