{% extends "base.html" %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

{% if page.updated %}
<small><i>Updated: {{ page.updated }}</i></small>
{% endif %}
{{ page.content | safe }}


<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=12.517826557159426%2C41.89526754883858%2C12.523901760578157%2C41.897763183934735&amp;layer=mapnik&amp;marker=41.89652, 12.5212" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/41.89652/12.52086">View Larger Map</a></small>

{% endblock content %}